@font-face {
    font-family: DepartureMono; 
    src: url('assets/DepartureMono-1.500/DepartureMono-Regular.woff'); 
}
/* Cat VERY BAD animations before I realised I did not have to chop the whole png up... Will get fixed later */
@keyframes CatLick {
    0% {
        content: url('assets/cat-assets/lick/cat_02d-16.png');
    }
    15% {
        content: url('assets/cat-assets/lick/cat_02d-17.png');
    }
    30% {
        content: url('assets/cat-assets/lick/cat_02d-18.png');
    }
    45% {
        content: url('assets/cat-assets/lick/cat_02d-19.png');
    }
    60% {
        content: url('assets/cat-assets/wash/cat_02d-24.png');
    }
    75% {
        content: url('assets/cat-assets/wash/cat_02d-25.png');
    }
    90% {
        content: url('assets/cat-assets/wash/cat_02d-26.png');
    }
    100% {
        content: url('assets/cat-assets/wash/cat_02d-27.png');
    }
}

@keyframes CatIdle {
    0% {
        content: url('assets/cat-assets/idle2/cat_02d-8.png');
    }
    33% {
        content: url('assets/cat-assets/idle2/cat_02d-9.png');
    }
    66% {
        content: url('assets/cat-assets/idle2/cat_02d-10.png');
    }
    100% {
        content: url('assets/cat-assets/idle2/cat_02d-11.png');
    }
}

@keyframes CatPounce {
    0% {
        content: url('assets/cat-assets/pounce/cat_02d-64.png');
    }
    14.28% {
        content: url('assets/cat-assets/pounce/cat_02d-65.png');
    }
    28.56% {
        content: url('assets/cat-assets/pounce/cat_02d-66.png');
    }
    42.84% {
        content: url('assets/cat-assets/pounce/cat_02d-67.png');
    }
    57.12% {
        content: url('assets/cat-assets/pounce/cat_02d-68.png');
    }
    71.4% {
        content: url('assets/cat-assets/pounce/cat_02d-69.png');
    }
    85.68% {
        content: url('assets/cat-assets/pounce/cat_02d-70.png');
    }
    100% {
        content: url('assets/cat-assets/pounce/cat_02d-70.png');
    }
}

body {
    font-family:DepartureMono;
    background-color: rgb(255, 255, 233);
    display: grid;
}

body::selection {
    background-color: rgb(143, 157, 200);
}

/* navbar section */
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(143, 157, 200);
    display: flex;
    white-space: nowrap;
    justify-content: center;
    margin-left: -10px;
    margin-top: -10px;
    margin-right: -10px;
}

.navbar img:not(#catButton img) {
    width: 16px; 
    height: 16px; 
    vertical-align: middle; 
}

.navbar li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background 0.2s, color 0.2s, font-size 0.2s; 
}

.navbar li:hover  a:not(#catButton) {
    background: rgb(58, 66, 91);
    color: rgb(255, 255, 255);
    font-size: 16px;
    position: relative;
    animation: Enlarge 0.2s ease-in-out forwards;
}

.navbar li a:not(#catButton):hover img {
    filter: invert(1);
}

@keyframes Enlarge {
    from {
        transform: scale(1);
    } 
    to {
        transform: scale(1.2) ;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }
}


/* Cat-related styling and animations */

#catButton {
    padding: 6px 15px;
    translate: 40px;
}

#catButton:hover {
    background-color: rgb(255, 255, 233);
}

#catButton:hover img {
    animation: CatLick 1.5s infinite;
}

#catButton img {
    animation: CatIdle 0.7s infinite;
}

#runningCat {
    position: absolute;
    pointer-events: none;
    transition: all 1s;
    animation: CatPounce 1s ease-in-out infinite;
}


/* bio/about me section */
.bio {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    margin: 5px;
}


.pictureOfMe {
    text-align: center;
    padding-top: 10px;
}

.pictureOfMe img {
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    animation: FadeInPic 1s ease-in-out;
    user-select: none;
}

@keyframes FadeInPic {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    text-align: center;

}

.aboutMe p{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    animation: MoveInRight 1s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes MoveInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.aboutMe a{
    color: black;
}

.aboutMe a:hover {
    background: linear-gradient(to right, rgba(123, 78, 89, 0.516) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 0 0;
    animation: HighlightLeftToRight 0.5s ease-in-out forwards;
}
@keyframes HighlightLeftToRight {
    from {
        background-position: 100% 0;
    }
    to {
        background-position: 0 0;
    }
}

.jak713 {
    font-size: 12px;
    float: right;
}

/* div/box for skills/interests/etc...  */
.currentInterests table {
    border: 2px black solid;
    margin: 5px;
    padding: 10px;
    text-align: left;
    display: inline-block;
}

.currentInterests table th {
    column-span: 5;
}

.currentInterests img {
    width: 64px; 
    height: 64px;
}